/backend/node_modules
/backend/package-lock.json
/backend/.env
/venv
/python-api/utils/config.py
*.pyc
__pycache__/
/python-api/myenv
/python-api/data/tts/*
.env
node_modules
myenv
*/venv/
*/env/
*/.venv/
