@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

.font-bold {
  font-family: sans-serif;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.popup-animation {
  animation: slideIn 0.3s ease-in-out forwards; /* Slide-in animation */
  opacity: 1; /* Ensure full opacity after animation */
}

.hidden {
  opacity: 0;
  transform: scale(0.8); /* Initially smaller before animation */
  pointer-events: none; /* Prevent clicks before it's visible */
}

@keyframes slideIn {
  0% {
    transform: scale(0.8); /* Start slightly above and smaller */
    opacity: 0;
  }
  100% {
    transform: scale(1); /* End at normal size and position */
    opacity: 1;
  }
}